sservices:
  openclaw-gateway:
    build: .
    container_name: openclaw-gateway
    user: "root"
    # Cambiamos esto para que no intente arrancar la app solo, sino que nos espere
    entrypoint: ["tail", "-f", "/dev/null"]
    environment:
      - HOME=/home/node
      - OPENCLAW_CONFIG=${OPENCLAW_CONFIG}
    volumes:
      - ./workspace:/home/node/.openclaw/workspace
    ports:
      - "18789:18789"
    init: true
